body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141010;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Tilt Neon', cursive;
}
#container{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c3195d;
    margin-left: auto;
    margin-right: auto;
}
input{
    margin-bottom: 20px;
    height: 50px;
    width: 400px;
    font-size: 30px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-family: 'Tilt Neon', cursive;
    outline: none;
}
button{
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    height: 80px;
    width: 150px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-family: 'Tilt Neon', cursive;
}
button:hover{
    background-color: #ddd;
    width: 200px;
}
input:hover{
    width: 500px;
}
#output{
    height: 100px;
    width: 400px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}
h1{
    font-weight: bold;
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
h1:hover{
    font-size: 50px;
}
select{
    height: 50px;
    width: 100px;
    margin-bottom: 80px;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
#over{
    height: 100vh;
    position: absolute;
    background-color: #141010e8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.hide{
    opacity: 0; 
 visibility: hidden;
 -webkit-transition: visibility 0.4s linear,
 opacity 0.4s linear;
 -moz-transition: visibility 0.4s linear,
 opacity 0.4s linear;
 -o-transition: visibility 0.4s linear,
 opacity 0.4 linear; 
}
.show{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
@media (max-width:767px) {
    h1{
        font-size: 20px;
        text-align: center;
    }
    input{
        width: 80%;
    }
    input:hover{
        width: 85%;
    }
    button{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 10px;
    }
    button:hover{
        width: 95%;
    }
    #buttons{
        width: 90%;

    }
    #output{
        width: 90%;
    }
    
}
